#
# TPM device configuration
#

menu "TPM devices"

config TCG_TPM
	tristate "TPM Support for XEN"
	depends on ARCH_XEN && !XEN_PHYSDEV_ACCESS
	---help---
	  If you want to make TPM security available in your system,
	  say Yes and it will be accessible from within a user domain.  For
	  more information see <http://www.trustedcomputinggroup.org>.
	  An implementation of the Trusted Software Stack (TSS), the
	  userspace enablement piece of the specification, can be
	  obtained at: <http://sourceforge.net/projects/trousers>.  To
	  compile this driver as a module, choose M here; the module
	  will be called tpm. If unsure, say N.

config TCG_XEN
	tristate "XEN TPM Interface"
	depends on TCG_TPM && ARCH_XEN && XEN_TPMDEV_FRONTEND
	---help---
	  If you want to make TPM support available to a Xen
	  user domain, say Yes and it will
          be accessible from within Linux. To compile this driver
          as a module, choose M here; the module will be called
          tpm_xen.

endmenu
