menu "TEE mediators"
	visible if UNSUPPORTED

config TEE
	bool
	default n

config OPTEE
	bool "Enable OP-TEE mediator (UNSUPPORTED)" if UNSUPPORTED
	default n
	select TEE
	help
	  Enable the OP-TEE mediator. It allows guests to access
	  OP-TEE running on your platform. This requires
	  virtualization-enabled OP-TEE present. You can learn more
	  about virtualization for OP-TEE at
	  https://optee.readthedocs.io/architecture/virtualization.html

config FFA
	bool "Enable FF-A mediator support (UNSUPPORTED)" if UNSUPPORTED
	default n
	depends on ARM_64
	select TEE
	help
	  This option enables a minimal FF-A mediator. The mediator is
	  generic as it follows the FF-A specification [1], but it only
	  implements a small subset of the specification.

	  [1] https://developer.arm.com/documentation/den0077/latest

endmenu

