#
# For a description of the syntax of this configuration file,
# see docs/misc/kconfig-language.txt
#
mainmenu "Xen/$(SRCARCH) $(XEN_FULLVERSION) Configuration"

config BROKEN
	bool

source "arch/$(SRCARCH)/Kconfig"

config DEFCONFIG_LIST
	string
	option defconfig_list
	default ARCH_DEFCONFIG

config EXPERT
	string
	default y if "$(XEN_CONFIG_EXPERT)" = "y"

config LTO
	bool "Link Time Optimisation"
	depends on BROKEN
	---help---
	  Enable Link Time Optimisation.

	  If unsure, say N.

#
# For architectures that know their compiler __int128 support is sound
#
config ARCH_SUPPORTS_INT128
	bool

source "Kconfig.debug"
