
menu "Debugging Options"

config DEBUG
	bool "Developer Checks"
	default y
	---help---
	  If you say Y here this will enable developer checks such as asserts
	  and extra printks. This option is intended for development purposes
	  only, and not for production use.

	  You probably want to say 'N' here.

if DEBUG || EXPERT = "y"

config CRASH_DEBUG
	bool "Crash Debugging Support"
	depends on X86
	---help---
	  If you want to attach gdb to Xen to debug Xen if it crashes
	  then say Y.

config VERBOSE_DEBUG
	bool "Verbose debug messages"
	default DEBUG
	---help---
	  Guest output from HYPERVISOR_console_io and hypervisor parsing
	  ELF images (dom0) will be logged in the Xen ring buffer.

endif # DEBUG || EXPERT

endmenu
