
menu "Common Features"

# Select HAS_DEVICE_TREE if device tree is supported
config HAS_DEVICE_TREE
	bool

# Select HAS_GDBSX if GDBSX is supported
config HAS_GDBSX
	bool

config HAS_IOPORTS
	bool

endmenu
