config X86_64
	def_bool y

config X86
	def_bool y
	select HAS_NS16550
	select HAS_PASSTHROUGH
	select HAS_PCI

config ARCH_DEFCONFIG
	string
	default "arch/x86/configs/x86_64_defconfig"

menu "Architecture Features"

endmenu

source "common/Kconfig"

source "drivers/Kconfig"
