# drivers/Kconfig

menu "Device Drivers"

source "drivers/base/Kconfig"

if !XEN || XEN_PHYSDEV_ACCESS

source "drivers/connector/Kconfig"

source "drivers/mtd/Kconfig"

source "drivers/parport/Kconfig"

source "drivers/pnp/Kconfig"
endif

source "drivers/block/Kconfig"

if !XEN || XEN_PHYSDEV_ACCESS
source "drivers/ide/Kconfig"
endif

source "drivers/scsi/Kconfig"

if !XEN || XEN_PHYSDEV_ACCESS
source "drivers/cdrom/Kconfig"
endif

source "drivers/md/Kconfig"

if !XEN || XEN_PHYSDEV_ACCESS
source "drivers/message/fusion/Kconfig"

source "drivers/ieee1394/Kconfig"

source "drivers/message/i2o/Kconfig"

source "drivers/macintosh/Kconfig"
endif

source "drivers/net/Kconfig"

if !XEN || XEN_PHYSDEV_ACCESS
source "drivers/isdn/Kconfig"

source "drivers/telephony/Kconfig"

# input before char - char/joystick depends on it. As does USB.

source "drivers/input/Kconfig"

source "drivers/char/Kconfig"

source "drivers/i2c/Kconfig"

source "drivers/w1/Kconfig"

source "drivers/hwmon/Kconfig"

source "drivers/misc/Kconfig"

source "drivers/mfd/Kconfig"

source "drivers/media/Kconfig"

source "drivers/video/Kconfig"

source "sound/Kconfig"

source "drivers/usb/Kconfig"

source "drivers/mmc/Kconfig"

source "drivers/infiniband/Kconfig"
endif

source "drivers/sn/Kconfig"

endmenu
