# arch/xen/Kconfig.drivers

menu "Device Drivers"

source "drivers/base/Kconfig"

if XEN_PHYSDEV_ACCESS
source "drivers/mtd/Kconfig"
source "drivers/parport/Kconfig"
source "drivers/pnp/Kconfig"
endif

source "drivers/block/Kconfig"

if XEN_PHYSDEV_ACCESS
source "drivers/ide/Kconfig"
endif

source "drivers/scsi/Kconfig"

if XEN_PHYSDEV_ACCESS
source "drivers/cdrom/Kconfig"
endif

source "drivers/md/Kconfig"

if XEN_PHYSDEV_ACCESS
source "drivers/message/fusion/Kconfig"
source "drivers/ieee1394/Kconfig"
source "drivers/message/i2o/Kconfig"
endif

source "net/Kconfig"

if XEN_PHYSDEV_ACCESS
source "drivers/isdn/Kconfig"
source "drivers/telephony/Kconfig"
source "drivers/input/Kconfig"
source "drivers/char/Kconfig"
source "drivers/i2c/Kconfig"
source "drivers/w1/Kconfig"
source "drivers/misc/Kconfig"
source "drivers/media/Kconfig"
source "drivers/video/Kconfig"
source "sound/Kconfig"
source "drivers/usb/Kconfig"
source "drivers/mmc/Kconfig"
source "drivers/infiniband/Kconfig"
endif

if !XEN_PHYSDEV_ACCESS

menu "Character devices"

config UNIX98_PTYS
	bool
	default y

config LEGACY_PTYS
	bool "Legacy (BSD) PTY support"
	default y
	---help---
	  A pseudo terminal (PTY) is a software device consisting of two
	  halves: a master and a slave. The slave device behaves identical to
	  a physical terminal; the master device is used by a process to
	  read data from and write data to the slave, thereby emulating a
	  terminal. Typical programs for the master side are telnet servers
	  and xterms.

	  Linux has traditionally used the BSD-like names /dev/ptyxx
	  for masters and /dev/ttyxx for slaves of pseudo
	  terminals. This scheme has a number of problems, including
	  security.  This option enables these legacy devices; on most
	  systems, it is safe to say N.


config LEGACY_PTY_COUNT
	int "Maximum number of legacy PTY in use"
	depends on LEGACY_PTYS
	range 1 256
	default "256"
	---help---
	  The maximum number of legacy PTYs that can be used at any one time.
	  The default is 256, and should be more than enough.  Embedded
	  systems may want to reduce this to save memory.

	  When not in use, each legacy PTY occupies 12 bytes on 32-bit
	  architectures and 24 bytes on 64-bit architectures.

endmenu

endif

endmenu
