config HAS_NS16550
	bool
	default y
	help
	  This selects the 16550-series UART support. For most systems, say Y.

config HAS_CADENCE_UART
	bool
	default y
	depends on ARM_64
	help
	  This selects the Xilinx Zynq Cadence UART. If you have a Xilinx Zynq
	  based board, say Y.

config HAS_PL011
	bool
	default y
	depends on ARM
	help
	  This selects the ARM(R) AMBA(R) PrimeCell PL011 UART. If you have
	  an Integrator/PP2, Integrator/CP or Versatile platform, say Y.

config HAS_EXYNOS4210
	bool
	default y
	depends on ARM_32
	help
	  This selects the Samsung Exynos 4210 UART. If you have a Samsung
	  Exynos based board, say Y.

config HAS_OMAP
	bool
	default y
	depends on ARM_32
	help
	  This selects the Texas Instruments OMAP UART. If you have a Texas
	  Instruments based CPU, say Y.

config HAS_SCIF
	bool
	default y
	depends on ARM
	help
	  This selects the SuperH SCI(F) UART. If you have a SuperH based board,
	  or Renesas R-Car Gen 2/3 based board say Y.

config HAS_EHCI
	bool
	help
	  This selects the USB based EHCI debug port to be used as a UART. If
	  you have an x86 based system with USB, say Y.
