xen-access
xen-cpuid
xen-detect
xen-diag
xen-hptool
xen-hvmcrash
xen-hvmctx
xen-livepatch
xen-lowmemd
xen-mceinj
xen-memshare
xen-mfndump
xen-ucode
xen-vmtrace
xencov
xenhypfs
xenlockprof
xenperf
xenpm
xenwatchdogd
