menu "Device Drivers"

source "drivers/acpi/Kconfig"

source "drivers/char/Kconfig"

source "drivers/cpufreq/Kconfig"

source "drivers/passthrough/Kconfig"

source "drivers/pci/Kconfig"

source "drivers/video/Kconfig"

config HAS_VPCI
	bool

endmenu
