# arch/xen/Kconfig.drivers

menu "Device Drivers"

source "drivers/base/Kconfig"

source "drivers/scsi/Kconfig"
source "drivers/block/Kconfig"
source "drivers/md/Kconfig"

# Always include scsi and block to enable iscsi, loop0 etc.

if XEN_PHYSDEV_ACCESS
source "drivers/ide/Kconfig"
source "drivers/cdrom/Kconfig"
endif

source "net/Kconfig"

if XEN_PRIVILEGED_GUEST
source "drivers/input/Kconfig"
endif

config INPUT
	tristate "Input devices (needed for keyboard, mouse, ...)" if EMBEDDED
	default y
	---help---
	  Say Y here if you have any input device (mouse, keyboard, tablet,
	  joystick, steering wheel ...) connected to your system and want
	  it to be available to applications. This includes standard PS/2
	  keyboard and mouse.

	  Say N here if you have a headless (no monitor, no keyboard) system.

	  More information is available: <file:Documentation/input/input.txt>

	  If unsure, say Y.

	  To compile this driver as a module, choose M here: the
	  module will be called input.

if XEN_PRIVILEGED_GUEST
source "drivers/char/Kconfig"
endif

config UNIX98_PTYS
	bool "Unix98 PTY support" if EMBEDDED
	default y
	---help---
	  A pseudo terminal (PTY) is a software device consisting of two
	  halves: a master and a slave. The slave device behaves identical to
	  a physical terminal; the master device is used by a process to
	  read data from and write data to the slave, thereby emulating a
	  terminal. Typical programs for the master side are telnet servers
	  and xterms.

	  Linux has traditionally used the BSD-like names /dev/ptyxx for
	  masters and /dev/ttyxx for slaves of pseudo terminals. This scheme
	  has a number of problems. The GNU C library glibc 2.1 and later,
	  however, supports the Unix98 naming standard: in order to acquire a
	  pseudo terminal, a process opens /dev/ptmx; the number of the pseudo
	  terminal is then made available to the process and the pseudo
	  terminal slave can be accessed as /dev/pts/<number>. What was
	  traditionally /dev/ttyp2 will then be /dev/pts/2, for example.

	  All modern Linux systems use the Unix98 ptys.  Say Y unless
	  you're on an embedded system and want to conserve memory.


if XEN_PHYSDEV_ACCESS
source "drivers/i2c/Kconfig"
source "drivers/video/Kconfig"
endif

#config XEN_EVTCHN
#	bool "Xen Event Channel"
#	depends on XEN
#	default Y
#
#config XEN_CONSOLE
#	bool "Xen Console"
#	depends on XEN && XEN_EVTCHN
#	default Y
#	help
#	  Say Y to build a console driver for Xen.

endmenu
