###############################################################################
#
# create_domain(priv_dom, domain, channel)
#
################################################################################
define(`create_domain', `
	type $2, domain_type;
	allow $1 $2:domain {create max_vcpus setdomainmaxmem 
				setaddrsize getdomaininfo hypercall 
				setvcpucontext scheduler unpause 
				getvcpuinfo getaddrsize getvcpuaffinity};
	allow $1 $2:shadow {enable};
	allow $1 $2:mmu {map_read map_write adjust physmap};
	allow $2 $2:mmu {adjust physmap};
	allow $1 $3:event {create};
')

###############################################################################
#
# create_hvm_dom(priv_dom, domain, channel)
#
################################################################################
define(`create_hvm_dom', `
	create_domain($1, $2, $3)
	allow $1 $2:hvm { setparam getparam cacheattr pciroute irqlevel	pcilevel };
	allow $2 $2:hvm setparam;
')	

###############################################################################
#
# create_pv_dom(priv_dom, domain, channel, iodomain)
#
################################################################################
define(`create_pv_dom', `
	create_domain($1, $2, $3)
	allow $1 $2:mmu {memorymap pinpage};
	allow $2 $2:mmu {map_read map_write pinpage};
	allow $2 $4:mmu {map_read};
	
	allow $2 $2:grant {query setup};
	allow $1 $2:grant {map_read unmap};
')	
################################################################################
#
# manage_domain(priv_dom, domain)
#
################################################################################
define(`manage_domain', `
	allow $1 $2:domain {pause destroy};
')

################################################################################
#
# create_channel(caller, peer, channel)
#
################################################################################
define(`create_channel', `
	type $3, event_type;
	type_transition $1 $2:event $3;
	allow $1 $3:event {create};
	allow $3 $2:event {bind};
')
###############################################################################
#
# create_passthrough_resource(priv_dom, domain, resource)
#
###############################################################################
define(`create_passthrough_resource', `
        type $3, resource_type;
        allow $1 $3:event vector;
        allow $1 $2:resource {add remove};
        allow $1 ioport_t:resource {add_ioport use};
        allow $1 iomem_t:resource {add_iomem use};
        allow $1 pirq_t:resource  {add_irq use};
        allow $1 domio_t:mmu {map_read map_write};
        allow $2 domio_t:mmu {map_write};
        allow $2 pirq_t:resource {use};
        allow $1 $3:resource {add_irq add_iomem add_ioport remove_irq remove_iomem remove_ioport use add_device remove_device};
        allow $2 $3:resource {use add_ioport add_iomem remove_ioport remove_iomem};
        allow $2 $3:mmu {map_read map_write};
')
###############################################################################
#
# create_hvm_resource(priv_dom, domain, resource)
#
###############################################################################
define(`create_hvm_resource', `
        type $3, resource_type;
        allow $1 $2:resource {add remove};
        allow $1 $3:hvm {bind_irq};
        allow $1 $3:resource {stat_device add_device remove_device add_irq remove_irq add_iomem remove_iomem add_ioport remove_ioport};
        allow $2 $3:resource {use};
')
