.small  {
	font-size: 10px
}

TD.domainInfo     { 
	font-size: 10px; 
	color: black
}

TD.domainInfoHead {
	font-size: 10px; 
	color: white; 
	font-face: bold
}

TD.domainInfoHead {background-color: black}
TR.domainInfoOdd  {background-color: white}
TR.domainInfoEven {background-color: lightgrey}

body { 
	margin: 	0px;
	padding: 	0px;
	font-family: 	Arial, Helvetica, sans-serif;
	font-size:	12px;
	color: 		#000000;
}

div#menu {
        position:       absolute;
        left:           10px;
        top:            10px;
        width:          160px;
        padding:        10px;
        border:         0px solid black;
        text-align:     center;
}

div#main {
        position:       absolute;
        left:           200px;
        top:            10px;
        right:          10px;
        padding:        10px;
        border:         0px solid black;
}

div.button {
        float:          right;
        margin:         10px 0px 0px 10px;
        padding:        5px;
        text-align:     center;
        border:         1px solid black;
        background:     gray;
	cursor:		hand;
}

div.tabButton {
	position:	relative;
	top: 		0px;
        float:          left;
        margin:         0px 10px -1px 0px;
        padding:        5px;
        text-align:     center;
        border:         1px solid black;
        background:     gray;
	cursor: 	hand;
}

div.tabButton#activeTab {
	top:		0px;
        background:     white;
        border-color:   black black white black;
}

div.button:hover, div.tabButton:hover {
        background:     white;
}

div.button a, div.tabButton a {
        font-size:      12px;
	font-weight:	bold;
}

div.title {
	float:          right;
	font-size:	14px;
	font-weight:	bold;
}

div.tab {
        overflow:       auto;
        clear:          both;
        border:         1px solid black;
        padding:        10px;
}
