menu "Firmware Drivers"

config SCMI_SMC
	bool "Forward SCMI over SMC calls from hwdom to EL3 firmware"
	default y
	help
	  This option enables basic awareness for SCMI calls using SMC as
	  doorbell mechanism and Shared Memory for transport ("arm,scmi-smc"
	  compatible only). The value of "arm,smc-id" DT property from SCMI
	  firmware node is used to trap and forward corresponding SCMI SMCs
	  to firmware running at EL3, for calls coming from the hardware domain.

endmenu
