config 64BIT
	bool

config PHYS_ADDR_T_32
	bool

config NR_CPUS
	int "Maximum number of CPUs"
	range 1 1 if ARM && MPU
	range 1 16383
	default "256" if X86
	default "1" if ARM && MPU
	default "8" if ARM && RCAR3
	default "4" if ARM && QEMU
	default "4" if ARM && MPSOC
	default "128" if ARM
	help
	  Controls the build-time size of various arrays and bitmaps
	  associated with multiple-cpu management.  It is the upper bound of
	  the number of logical entities the scheduler can run code on.

	  For CPU cores which support Simultaneous Multi-Threading or similar
	  technologies, this the number of logical threads which Xen will
	  support.

config NR_NUMA_NODES
	int "Maximum number of NUMA nodes supported"
	range 2 64
	default "64"
	depends on NUMA
	help
	  Controls the build-time size of various arrays and bitmaps
	  associated with multiple-nodes management. It is the upper bound of
	  the number of NUMA nodes that the scheduler, memory allocation and
	  other NUMA-aware components can handle.
