About
SECTION&XenoServers

<!-- content -->
<img src="img/pixel.gif" class="block" width="1" height="12" alt="">
<table cellpadding="0" cellspacing="0" border="0" summary="page content">
<tbody><tr>
   <td width="250" valign="top" align="right">
     <a href="http://www.cl.cam.ac.uk/xeno/"><img width="191" heigth="65" src="img/xeno.gif" border="0"></a>

<table cellpadding="0" cellspacing="0" border="0" align="right">
<tbody><tr>
  <td><img src="img/pixel.gif" class="block" width="20" height="1" alt=""></td>
</tr>
<tr>
  <td colspan="3"><img src="img/pixel.gif" class="block" width="1" height="10" alt=""></td>
</tr>
<tr>
  <td align="right">
  <table width="180" ><tbody><tr><td><p align="right">
The XenoServer project aims to build a public infrastructure for wide-area distributed computing.
</p>
  </td></tr></tbody></table></td>
<td><img src="img/pixel.gif" class="block" width="10" height="1" alt=""></td>
</tr>
</tbody></table>
</td>
<td bgcolor="#666666" width="2"><img src="img/pixel.gif" class="block" width="2" height="50" alt=""></td>
<td width="20"><img src="img/pixel.gif" class="block" width="20" height="1" alt=""></td>
<td valign="top">

<!-- main navigation -->
<table cellpadding="0" cellspacing="0" border="0">

<tbody><tr><td><b>Overview</b><td></tr>
<tr>
  <td>
The Xenoserver project is building a public infrastructure for wide-area distributed computing. We envisage a world in which Xenoserver execution platforms will be scattered across the globe and available for any member of the public to submit code for execution. Crucially, the sponsor of the code will be billed for all the resources used or reserved during the course of execution. This will serve to encourage load balancing, limit congestion, and hopefully even make the platform self-financing.
<p>
A global infrastructure such as we propose is essential to address the fundamental problem of communication latency. By enabling principles to run programs at points throughout the network they can ensure that their code executes close to the entities with which it needs to interact. As well as reducing latency this can be used to avoid network bottlenecks, to reduce long-haul network charges and to provide a platform over which code provided by transiently-connected mobile devices can maintain a network presence.
<p>
Our approach is distinguished from existing work on mobile agents, execution platforms, code hosting and the like by two principles:
<p>
<b>Tackling difficult problems at the same time.</b> Acceptable designs for execution environments, resource management, resource discovery, authentication, privacy, charging, billing, payment and auditing are all crucial to the success of our platform as an infrastructure service open to and accepted by the public. Existing work has tackled individual subsets of these problems, but tensions between the issues concerned mean that solutions proficient in some dimension are lacking in another.
<p>
<b>No brave new world.</b> Our platform will host applications written in today's programming languages against existing APIs -- and, we believe, those written with tomorrow's languages and libraries. We do not want to mandate a particular code distribution format or a particular middleware toolkit for distributed programming.
</td>
</tr>

<tr> <!-- blank white space -->
  <td><img src="img/pixel.gif" class="block" width="1" height="10" alt=""></td>
</tr>

<tr> <!-- grey line -->
  <td bgcolor="#cccccc"><img src="img/pixel.gif" class="block" width="1" height="2" alt=""></td>
</tr>

<tr> <!-- blank white space -->
  <td><img src="img/pixel.gif" class="block" width="1" height="10" alt=""></td>
</tr>

<tr> <!-- list of menu items -->
  <td nowrap="nowrap">
   <a href="http://www.cl.cam.ac.uk/Research/SRG/netos/xeno/general-xeno.pdf" class="homemenu">Project Overview Document</a><br>
   </td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
<!-- end content -->
