Stop Domain
SECTION&XenoServers
BREADCRUMB&Domain Manager&dom.jsp

<!-- content -->
<img src="pixel.gif" class="block" width="1" height="12">

<table cellpadding="0" cellspacing="0" border="0">
<tbody>
INCLUDE&dommenu.tmpl
<td valign="top">


<b>Stop Domain Results</b>
<br>

<%
  HttpServletRequestWrapper hsrw = new HttpServletRequestWrapper(request);
  Defaults d = sc.getDefaults(); 
  CommandStop command_stop = new CommandStop();

  String domains[] = hsrw.getParameterValues("dom");

  if (domains == null || domains.length == 0)
  {
%>
Error: no domain specified.<br>
<%
  }
  else
  {
    for (int i = 0; i < domains.length; i++)
    {
%>
result <%= domains[i] %> =
 <%= command_stop.executeCommand(d, Integer.parseInt(domains[i])) %> <br>
<%
    }
  }
%>

</td>
</tbody>
</table>




<!-- end content -->
