Create New Domain
SECTION&XenoServers
BREADCRUMB&Domain Manager&dom.jsp

<!-- content -->
<img src="pixel.gif" class="block" width="1" height="12">

<table cellpadding="0" cellspacing="0" border="0">
<tbody>
INCLUDE&dommenu.tmpl
<td valign="top">

<b>Create Domain Results</b>
<br>

<%
  HttpServletRequestWrapper hsrw = new HttpServletRequestWrapper(request);
  Defaults d = sc.getDefaults(); 
  CommandNew command_new = new CommandNew();
  String root_device = hsrw.getParameter("root");

  String nfsroot = null;
  String nfsserver = null;
  String rd = null;
  String disk = null;

  if (root_device.equals("nfs"))
  {
    nfsroot = hsrw.getParameter("nfsroot");
    nfsserver = hsrw.getParameter("nfsserver");
    disk = "/dev/nfs";
  }
  else if (root_device.equals("ram"))
  {
    nfsserver = hsrw.getParameter("nfsserver");
    rd = hsrw.getParameter("rd");
  }
  else if (root_device.equals("pdisk"))
  {
    nfsserver = hsrw.getParameter("nfsserver");
    disk = hsrw.getParameter("pdisk");
  }
  else if (root_device.equals("vdisk"))
  {
    nfsserver = hsrw.getParameter("nfsserver");
    disk = hsrw.getParameter("vdisk");
  }

%>
name = <%= hsrw.getParameter("name") %>
<br>
size = <%= hsrw.getParameter("size") %>
<br>
image = <%= hsrw.getParameter("image") %>
<br>
initrd = <%= rd %>
<br>
vifs = <%= hsrw.getParameter("vifs") %>
<br>
bargs = <%= hsrw.getParameter("args") %>
<br>
nfs_root_path = <%= nfsroot %>
<br>
nw_ip = <%= hsrw.getParameter("ip") %>
<br>
nw_gw = <%= hsrw.getParameter("gw") %>
<br>
nw_mask = <%= hsrw.getParameter("mask") %>
<br>
nw_nfs_server = <%= nfsserver %>
<br>
nw_host = <%= hsrw.getParameter("hostname") %>
<br>
root = <%= disk %>
<br>
output = <br><%=
  command_new.executeCommand(d,
                             hsrw.getParameter("name"),
                             Integer.parseInt(hsrw.getParameter("size")),
                             hsrw.getParameter("image"),
                             rd,
                             Integer.parseInt(hsrw.getParameter("vifs")),
                             hsrw.getParameter("args"),
                             disk,
                             nfsroot,
                             hsrw.getParameter("ip"),
                             hsrw.getParameter("gw"),
                             hsrw.getParameter("mask"),
                             nfsserver,
                             hsrw.getParameter("hostname"))
%>

</td>
</tbody>
</table>




<!-- end content -->
