Create New Domain
SECTION&XenoServers
BREADCRUMB&Domain Manager&dom.jsp

<!-- content -->
<img src="pixel.gif" class="block" width="1" height="12">

<table cellpadding="0" cellspacing="0" border="0">
<tbody>
INCLUDE&dommenu.tmpl
<td valign="top">

<form method="post" action="dom-newr.jsp">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
  <td width="10"></td>
  <td></td>
  <td></td>
  <td width="7"></td>
  <td></td>
</tr>

<tr>
  <td></td>
  <td class="block" colspan=4><b>Create A New Domain</b></td>
</tr>

##WHITESPACE## ##GREYLINE14## ##WHITESPACE##

<%
  Defaults d = sc.getDefaults(); 

  if (d == null)
  {
%>
  <b>ACK Defaults IS NULL</b>
<%
  }
%>

<tr>
  <td></td>
  <td class="block" colspan=4>Domain Name</td>
</tr>
<tr>
  <td></td>  <td></td>  <td></td>  <td></td>
  <td> <input type="text" size="16" name="name" value="<%= d.domainName %>"> 
  </td>
</tr>

##WHITESPACE## ##GREYLINE14## ##WHITESPACE##

<tr>
  <td></td>
  <td class="block" colspan=4>Memory Size</td>
</tr>
<tr>
  <td></td>  <td></td>  <td></td>  <td></td>
  <td> 
    <input type="text" size="5" name="size" value="<%= d.domainSizeKB %>"> KB 
  </td>
</tr>

##WHITESPACE## ##GREYLINE14## ##WHITESPACE##

<tr>
  <td></td>
  <td class="block" colspan=4>Kernel Image</td>
</tr>
<tr>
  <td></td> 
  <td colspan=2 align="right">path</td>
  <td></td>
  <td> 
    <input type="text" size="40" name="image" value="<%= d.domainImage %>"> 
  </td>
</tr>

##WHITESPACE## ##GREYLINE14## ##WHITESPACE##

<tr>
  <td></td>
  <td class="block" colspan=4>IP Config</td>
</tr>
<tr>
  <td></td> <td></td>
  <td class="block" align="right">VIFs</td>
  <td></td>
  <td> 
    <input type="text" size="4" name="vifs" value="<%= d.domainVIFs %>"> 
  </td>
</tr>
<tr>
  <td></td> <td></td>
  <td class="block" align="right">IP address</td>
  <td></td>
  <td> <input type="text" size="15" name="ip" value="<%= d.nwIP %>"> </td>
</tr>
<tr>
  <td></td>   <td></td> 
  <td class="block" align="right">Gateway</td>
  <td></td>
  <td> <input type="text" size="15" name="gw" value="<%= d.nwGateway %>"> </td>
</tr>
<tr>
  <td></td>   <td></td> 
  <td class="block" align="right">Netmask</td>
  <td></td>
  <td> <input type="text" size="15" name="mask" value="<%= d.nwMask %>"> </td>
</tr>

##WHITESPACE## ##GREYLINE14## ##WHITESPACE##

<tr>
  <td></td>
  <td class="block" colspan=2>Root File System</td>
</tr>

##WHITESPACE##

<tr>
  <td></td>
  <td align="right">NFS<input type="radio" checked name="root" value="nfs"></td>
  <td align="right">path</td>
  <td></td>
  <td>
    <input type="text" size="40" name="nfsroot" value="<%= d.nwNFSRoot %>">
  </td>
</tr>
<tr>
  <td></td>  <td></td>
  <td align="right">server</td>
  <td></td>
  <td>
    <input type="text" size="15" name="nfsserver" value="<%= d.nwNFSServer%>">
  </td>
</tr>
 ##WHITESPACE##
<tr>
  <td></td>
  <td align="right">ramdisk<input type="radio" name="root" value="ram"></td>
  <td align="right">path</td>
  <td></td>
  <td>
    <input type="text" size="40" name="rd" value="<%= d.domainInitRD %>">
  </td>
</tr>
 ##WHITESPACE##
<tr>
  <td></td>
  <td align="right">physical disk<input type="radio" name="root" value="pdisk"></td>
  <td align="right">path</td>
  <td></td>
  <td><input type="text" size="40" name="pdisk" value="/dev/sda8"></td>
</tr>
<tr>
  <td></td>
  <td align="right">virtual disk<input type="radio" name="root" value="vdisk"></td>
  <td align="right">path</td>
  <td></td>
  <td><input type="text" size="40" name="vdisk" value="/dev/xvda1"></td>
</tr>

##WHITESPACE## ##GREYLINE14## ##WHITESPACE##

<tr>
  <td></td>
  <td class="block" colspan=4>Extra Arguments</td>
</tr>
<tr>
  <td></td> 
  <td colspan=2 align="right"></td>
  <td></td>
  <td> <input type="text" size="40" name="args" value="<%= d.args %>"> </td>
</tr>


##WHITESPACE## ##GREYLINE14## ##WHITESPACE##

<tr>
  <td></td>
  <td><input type="submit" value="create domain"></td>
</tr>

</tbody>
</table>
</form>

</td>
</tbody>
</table>




<!-- end content -->
