Delete Domain
SECTION&XenoServers
BREADCRUMB&Domain Manager&dom.jsp

<!-- content -->
<img src="pixel.gif" class="block" width="1" height="12">

<table cellpadding="0" cellspacing="0" border="0">
<tbody>
INCLUDE&dommenu.tmpl
<td valign="top">

<form method="post" action="dom-delr.jsp">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr><td>
<%
  CommandDomainList list = new CommandDomainList(sc.getDefaults());
  String output = list.executeWeb();
  Domain domains[] = list.domains();
  if (output != null)
  {
%>
<%= output %>
<%
  } else {
%>

<table cellpadding="2" cellspacing="0" border="0">
<tbody>
  <tr class="vdh"><td></td><td>domain<br>id</td><td>processor</td><td>has<br>cpu</td><td>state</td><td>mcu<br>advance</td><td>total<br>pages</td><td>name</td></tr>
  <%
    for (int loop = 0; loop < domains.length; loop++)
    {
  %>
  <tr class="vdt">
    <td><input type="checkbox" name="dom" value="<%= domains[loop].id %>"></td>
    <td align="center"><%= domains[loop].id %></td>
    <td align="center"><%= domains[loop].processor %></td>
    <td align="center"><%= domains[loop].cpu %> </td>
    <td><%= domains[loop].state %> </td>
    <td align="center"><%= domains[loop].mcu %> </td>
    <td align="center"><%= domains[loop].pages %> </td>
    <td><%= domains[loop].name %> </td>
  </tr>
  <%
    }
  %>

</tbody>
</table>
</td></tr>

<%
  }
%>

##WHITESPACE## ##GREYLINE1## ##WHITESPACE##

<tr><td>
<table cellpadding="0" cellspacing="0" border="0">
<tbody>

<tr>
  <td></td>
  <td class="menuheader">force immediate destruction?</td>
</tr>
<tr>
  <td> <input type="radio" name="force" value="false" checked></td>
  <td> don't force </td>
</tr>
<tr>
  <td> <input type="radio" name="force" value="true"></td>
  <td> force </td>
</tr>
</tbody>
</table>
</td></tr>

##WHITESPACE## ##GREYLINE1## ##WHITESPACE##

<tr>
  <td><input type="submit" name="action" value="delete domain"></td>
</tr>
</tbody>
</table>
</form>

</td>
</tbody>
</table>




<!-- end content -->
