Help
SECTION&XenoServers

<!-- content -->
<img src="img/pixel.gif" class="block" width="1" height="12" alt="">
<table cellpadding="0" cellspacing="0" border="0" summary="page content">
<tbody><tr>
   <td width="250" valign="top" align="right">
     <a href="http://www.cl.cam.ac.uk/newlabphotos/"><img width="191" heigth="65" src="img/xeno.gif" border="0"></a>

<table cellpadding="0" cellspacing="0" border="0" align="right">
<tbody><tr>
  <td><img src="img/pixel.gif" class="block" width="20" height="1" alt=""></td>
</tr>
<tr>
  <td colspan="3"><img src="img/pixel.gif" class="block" width="1" height="10" alt=""></td>
</tr>
<tr>
  <td align="right">
  <table width="180" ><tbody><tr><td><p align="right">
The XenoServer project aims to build a public infrastructure for wide-area distributed computing.
</p>
  </td></tr></tbody></table></td>
<td><img src="img/pixel.gif" class="block" width="10" height="1" alt=""></td>
</tr>
</tbody></table>
</td>
<td bgcolor="#666666" width="2"><img src="img/pixel.gif" class="block" width="2" height="50" alt=""></td>
<td width="20"><img src="img/pixel.gif" class="block" width="20" height="1" alt=""></td>
<td valign="top">

<!-- main navigation -->
<table cellpadding="0" cellspacing="0" border="0">

<tbody><tr> <!-- list of menu items -->
  <td nowrap="nowrap">
    <b>Help</b>
</td>
</tr>

<tr> <!-- blank white space -->
  <td><img src="img/pixel.gif" class="block" width="1" height="10" alt=""></td>
</tr>

<tr> <!-- grey line -->
  <td bgcolor="#cccccc"><img src="img/pixel.gif" class="block" width="1" height="2" alt=""></td>
</tr>

<tr> <!-- blank white space -->
  <td><img src="img/pixel.gif" class="block" width="1" height="10" alt=""></td>
</tr>

<tr> <!-- list of menu items -->
  <td nowrap="nowrap">Some help text will go here.
   </td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
<!-- end content -->
