Grant Access
SECTION&XenoServers
BREADCRUMB&Physical Disk Manager&pd.jsp

<!-- content -->
<img src="pixel.gif" class="block" width="1" height="12">

<table cellpadding="0" cellspacing="0" border="0">
<tbody>
INCLUDE&pdmenu.tmpl
<td valign="top">

<form method="post" action="pd-gr.jsp">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>

<tr><td>

<table cellpadding="2" cellspacing="0" border="0">
<tbody>
  <tr class="vdh"><td></td><td>maj:min</td><td>blocks</td><td>start sect</td><td>num sects</td><td>name</td></tr>
  <%
    int count = root.pm().getPartitionCount();
    for (int loop = 0; loop < count; loop++)
    {
	Partition p = root.pm().getPartition(loop);
	if (p.isXeno() == true)
        {
  %>
  <tr class="vds"><td></td>
  <%
        }
        else
        {
  %>
  <tr class="vdt">
    <td><input type="checkbox" name="p" value="<%= p.getName() %>"></td>
  <%
        }
  %>
    <td><%= p.getMajor() %>:<%= p.getMinor() %></td>
    <td align="right"><%= p.getBlocks() %></td>
    <td align="right"><%= p.getStartSect() %> </td>
    <td align="right"><%= p.getNumSects() %> </td>
    <td><%= p.getName() %> </td>
  </tr>
  <%
    }
  %>
</tbody>
</table>

</td></tr>

##WHITESPACE## ##GREYLINE1## ##WHITESPACE##

<tr><td>
<table cellpadding="0" cellspacing="0" border="0">
<tbody>

<tr>
  <td width="100"></td>
  <td width="7"></td>
  <td></td>
</tr>

<tr>
  <td align="right">domain</td>
  <td></td>
  <td> <input type="text" size="3" name="domain"> </td>
</tr>
<tr>
  <td align="right"></td>
  <td></td>
  <td> <input type="radio" name="mode" value="ro" checked>RO
       <input type="radio" name="mode" value="rw">RW</td>
</tr>
</tbody>
</table>
</td></tr>

##WHITESPACE## ##GREYLINE1## ##WHITESPACE##

<tr>
  <td><input type="submit" name="action" value="grant access"></td>
</tr>

</tbody>
</table>
</form>

</td>
</tbody>
</table>




<!-- end content -->
