View Virtual Disks
SECTION&XenoServers
BREADCRUMB&Virtual Disk Manager&vd.jsp

<!-- content -->
<img src="pixel.gif" class="block" width="1" height="12">

<table cellpadding="0" cellspacing="0" border="0">
<tbody>
INCLUDE&vdmenu.tmpl
<td valign="top">

<table cellpadding="2" cellspacing="0" border="0">
<tbody>
  <tr class="vdh"><td>key</td><td width="5"></td><td>name</td><td width="5"></td><td>expiry</td></tr>

  <%
    int count = root.getVirtualDiskCount();
    for (int loop = 0; loop < count; loop++)
    {
      VirtualDisk vd = root.getVirtualDisk(loop);
  %>
    <tr class="vdt">
      <td><%= vd.getKey() %></td>
      <td></td>
      <td><%= vd.getName() %></td>
      <td></td>
      <td><%= vd.getExpiry() %></td>
    </tr>
  <%
    }
  %>

</tbody>
</table>
</td>
</tbody>
</table>




<!-- end content -->
