Create Virtual Block Device
SECTION&XenoServers
BREADCRUMB&Virtual Disk Manager&vd.jsp

<!-- content -->
<img src="pixel.gif" class="block" width="1" height="12">

<table cellpadding="0" cellspacing="0" border="0">
<tbody>
INCLUDE&vdmenu.tmpl
<td valign="top">

<b>Create Virtual Block Device Results</b>
<br>

<%
  HttpServletRequestWrapper hsrw = new HttpServletRequestWrapper(request);

  if (hsrw.getParameter("vd") == null ||
      hsrw.getParameter("vd").trim().equals(""))
  {
%>
Error: No virtual disk chosen.<br>
<%
  }
  else if (hsrw.getParameter("domain") == null ||
           hsrw.getParameter("domain").trim().equals(""))
  {
%>
Error: No domain specified.<br>
<%
  }
  else if (hsrw.getParameter("vbd") == null ||
           hsrw.getParameter("vbd").trim().equals(""))
  {
%>
Error: No virtual block device number specified.<br>
<%
  }
  else
  {
    int domain = -1;
    int vbd = -1;

    try
    {
      domain = Integer.decode(hsrw.getParameter("domain")).intValue();
      vbd = Integer.decode(hsrw.getParameter("vbd")).intValue();
%>
output =<br>
<%= root.doCreateVirtualBlockDevice(hsrw.getParameter("vd"),
                                    domain, vbd,
                                     hsrw.getParameter("mode"))  %>
<%
    }
    catch (NumberFormatException e)
    {
      if (domain == -1)
      {
%>
Error: invalid domain specification.<br>
<%
      }
      else
      {
%>
Error: invalid virtual block device number specification.<br>
<%
      }
    }
  }
%>

<%
  root.doFlushState();
%>

</td>
</tbody>
</table>




<!-- end content -->
