Create New Virtual Disk
SECTION&XenoServers
BREADCRUMB&Virtual Disk Manager&vd.jsp

<!-- content -->
<img src="pixel.gif" class="block" width="1" height="12">

<table cellpadding="0" cellspacing="0" border="0">
<tbody>
INCLUDE&vdmenu.tmpl
<td valign="top">

<form method="post" action="vd-vdcr.jsp">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>

<tr>
  <td width="50"></td>
  <td width="7"></td>
  <td></td>
</tr>

<tr>
  <td align="right">name</td>
  <td></td>
  <td> <input type="text" size="40" name="name" value="name of disk"> </td>
</tr>

<tr>
  <td align="right">size</td>
  <td></td>
  <td> <input type="text" size="10" name="size">
       <input type="radio" name="sizeunits" value="mb" checked>MB
       <input type="radio" name="sizeunits" value="gb">GB
  </td>
</tr>

<tr>
  <td align="right">expiry</td>
  <td></td>
  <td> <input type="text" size="3" name="expiry">
       <input type="radio" name="expiryunits" value="d" checked>days 
       <input type="radio" name="expiryunits" value="w">weeks
       <input type="radio" name="expiryunits" value="m">months
       <input type="radio" name="expiryunits" value="y">years
  </td>
</tr>

##WHITESPACE## ##GREYLINE3## ##WHITESPACE##

<tr>
  <td></td>
  <td></td>
  <td><input type="submit" name="action" value="create virtual disk"></td>
</tr>

</tbody>
</table>
</form>
</td>
</tbody>
</table>




<!-- end content -->
