<td width="10" valign="top" align="right"></td>

<td valign="top">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
  <td class="menuheader" width="100">Partitions</td>
</tr>
<tr>
  <td class="sidemenu" width="100"><a href="vd-pv.jsp">View</a></td>
</tr>
<tr>
  <td class="sidemenu" width="100"><a href="vd-pa.jsp">Add</a></td>
</tr>
##WHITESPACE##
<tr>
  <td class="menuheader" width="100">Virtual Disk</td>
</tr>
<tr>
  <td class="sidemenu" width="100"><a href="vd-vdv.jsp">View</a></td>
</tr>
<tr>
  <td class="sidemenu" width="100"><a href="vd-vdc.jsp">Create</a></td>
</tr>
<tr>
  <td class="sidemenu" width="100"><a href="vd-vdd.jsp">Delete</a></td>
</tr>
<tr>
  <td class="sidemenu" width="100"><a href="vd-vdr.jsp">Refresh</a></td>
</tr>
##WHITESPACE##
<tr>
  <td class="menuheader" width="100">Free Space</td>
</tr>
<tr>
  <td class="sidemenu" width="100"><a href="vd-fv.jsp">View</a></td>
</tr>
##WHITESPACE##
<tr>
  <td class="menuheader" width="100">Virtual Block Device</td>
</tr>
<tr>
  <td class="sidemenu" width="100"><a href="vd-vbdv.jsp">View</a></td>
</tr>
<tr>
  <td class="sidemenu" width="100"><a href="vd-vbdc.jsp">Create</a></td>
</tr>

</tbody>
</table>
</td>

<td width="5" valign="top" align="right"></td>

<td bgcolor="#666666" width="2"><img src="img/pixel.gif" class="block" width="2" height="50"></td>

<td width="15" valign="top" align="right"></td>
