name: Coverity Scan

# We only want to test official release code, not every pull request.
on:
  schedule:
    - cron: '18 9 * * WED,SUN' # Bi-weekly at 9:18 UTC

jobs:
  coverity:
    runs-on: ubuntu-latest
    steps:
    - name: Install build dependencies
      run: |
        sudo apt-get install -y wget git gawk bridge-utils \
          iproute2 bzip2 build-essential \
          make gcc zlib1g-dev libncurses5-dev iasl \
          libbz2-dev e2fslibs-dev git-core uuid-dev ocaml \
          ocaml-findlib xz-utils libyajl-dev \
          autoconf libtool liblzma-dev \
          python3-dev golang python-dev libsystemd-dev

    - uses: actions/checkout@v2
      with:
        ref: staging

    - name: Configure Xen
      run: |
        ./configure --with-system-qemu=/bin/true \
                    --with-system-seabios=/bin/true \
                    --with-system-ovmf=/bin/true

    - name: Pre build stuff
      run: |
        make mini-os-dir

    - uses: vapier/coverity-scan-action@v1
      with:
        command: make xen tools && make -C extras/mini-os/
        project: XenProject
        email: ${{ secrets.COVERITY_SCAN_EMAIL }}
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
