*.gen.cfg
/*.tar.gz
/*-minios-config.mk
/autom4te.cache/
/binutils-*
/config.cache
/config.log
/config.status
/cross-root-*
/gcc-*
/gmp-*
/grub-*
/include
/ioemu
/ioemu/
/libs-*
/libxencall-*
/libxenevtchn-*
/libxenforeignmemory-*
/libxengnttab-*
/libxentoolcore-*
/libxentoollog-*
/lwip-*
/lwip/
/mini-os-*
/mk-headers-*
/newlib-1.*
/newlib-x86*
/pciutils-*
/pkg-config/*
/polarssl-*
/stubdompath.sh
/tpm_emulator-*
/vtpm/vtpm_manager.h
/xenstore
/xenstorepvh
/zlib-*
